.spacer {
    flex: 1 1 auto;
  }
  
  
  a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #ffeb3b; 
  }
  
 
  a {
    transition: color 0.2s, text-decoration 0.2s;
  }
  